<div class="col-ms-12 col-lg-12" id="curso_form">
  <%= form_with(model: curso, local: true, options: {multipart: true}, id: 'form_c') do |form| %>
  <% if curso.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% curso.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="err_prop" style="color:red">
    <%= msj %>
  </div>
  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, class: 'form-control' %>
  </div>

  <div class="field">
    <% unless curso.imagen.blank?%>
      <%= form.label :imagen %>
      <div id="img" class="row">
        <div class="col-md-12 col-lg-12">
          <a title="eliminar imagen" class="material-icons" href="#" id="elim_img">delete_forever</a>
        </div>
        <div class="col-md-12 col-lg-12">
          <img src="<%= curso.imagen %>">
          <input type="hidden" value="1" id="exist_img">
        </div>
      </div>
      <div id="inpt_img">
        
      </div>
    <% else %>
      <%= form.label :imagen %>
      <%= form.file_field :imagen, class: 'form-control' %>
    <% end %>

  </div>

  <div class="field">
    <%= form.label :incluye %>
    <%= form.text_field :incluye, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :enfocado_a %>
    <%= form.text_field :enfocado_a, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :requisitos %>
    <%= form.text_field :requisitos, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :tiempo_estimado %>
    <%= form.text_field :tiempo_estimado, class: 'form-control' %>
  </div>

  <div class="field">
    <label>Certificable</label><br>SI
    <%= form.check_box :certificable, checked_value: "1"%>
  </div>
  <hr>
  <div class="field">
    <%= form.label :Area%>
    <%= form.collection_select(:areas_id, @areas, :id, :nombre, { include_blank: true }, class: 'form-control')%>
  </div>
  <hr>
  Profesor encargado:
  <div class="field">
    <select class="form-control" id="prof" name="prof">
      <option value="0">Seleccione</option>
      <% @profesores.each do |p|%>
        <option value="<%= p.id %>"><%= p.nombre + ' ' + p.apellido+' -- '+p.correo%></option>
      <% end%>
    </select>
  </div>
  <div class="actions">
    <br>
    <button type="button" class="btn btn-success" id="btn_curso">Crear</button>
  </div>
<% end %>
</div>
<% unless @act_prof.blank? %>
<input type="hidden" value="<%= @act_prof[:profesor_id]%>" id="act_prof">
<% end %>
<br>
