<p id="notice"><%= notice %></p>
<div class="col-sm-12 col-lg-12 text-center">
  <h3>Cursos</h3>
</div>
<br><br>
<div class="col-md-12 col-lg-12 text-center">
  <div class="card">
    <% unless @cursos.blank? %>
      <table id="u_table" class="table table-bordered table-responsive">
        <thead class="thead-dark">
          <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Imagen</th>
            <th>Incluye</th>
            <th>Enfocado a</th>
            <th>Requisitos</th>
            <th>Tiempo estimado</th>
            <th>Certificable</th>
            <th>Estado</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @cursos.each do |curso| %>
            <tr>
              <td><%= curso.nombre %></td>
              <td><%= curso.descripcion %></td>
              <td><%= curso.imagen %></td>
              <td><%= curso.incluye %></td>
              <td><%= curso.enfocado_a %></td>
              <td><%= curso.requisitos %></td>
              <td><%= curso.tiempo_estimado %></td>
              <td><%= curso.certificable %></td>
              <td><%= curso.estado %></td>
              <td><%= link_to 'Show', curso %></td>
              <td><%= link_to 'Edit', edit_curso_path(curso) %></td>
              <td><%= link_to 'Destroy', curso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end%>
    <%= link_to 'Nuevo curso', new_curso_path %>
  </div>
</div>
<br>
<script>
  window.onload = function () {
    $("#u_table").DataTable();
  }
</script>
