<div class="col-md-12 col-lg-12 text-center">
  <%= form_with(model: area, local: true) do |form| %>
  <% if area.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% area.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :descripción %>
    <%= form.text_area :descripcion, class: "form-control"%>
  </div>

  <div class="actions">
    <br>
    <button type="submit" class="btn btn-success">Guardar</button>
  </div>
<% end %>
</div>
