<div class="col-md-12 col-lg-12 text-center">
  <h3>Áreas</h3>
</div>

<% unless @areas.blank? %>
  <div class="col-md-12 col-lg-12">

    <div class="card text-center">
      <table id="t_area" class="table table-bordered table-responsive">
        <thead class="thead-dark">
          <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @areas.each do |area| %>
            <tr>
              <td><%= area.nombre %></td>
              <td><%= area.descripcion %></td>
              <td><%= link_to 'ver', controller: 'areas', action: 'show', id: area.id  %></td>
              <td><%= link_to 'Editar', edit_area_path(area) %></td>
              <td><%= link_to 'Eliminar', area, method: :delete, data: { confirm: '¿Está seguro de eliminar el registro' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<%end %>
<br>
<div class="col-md-12 col-lg-12 text-center">
  <%= link_to 'Nueva área', controller: 'areas', action: 'new' %>
</div>
<script>
  window.onload = function(){
    $("#t_area").DataTable();
  }
</script>
