<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @area.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @area.descripcion %>
</p>

<%= link_to 'Editar', edit_area_path(@area) %> |
<%= link_to 'Volver', areas_path %>
