<div class="col-md-12 col-lg-12">
  Cree un usuario profesor con el nombre de éste y su correo electrónico, al profesor le llegara un correo el cual deberá de
  confirmar para activar la cuenta
</div>
<br>

<div class="col-md-12 col-lg-12">
  <%= form_tag({controller: "usuarios", action: "crea_usuario"}) do%>
    <label >Nombre</label>
    <input name="nombre" class="form-control" required>
    <label>apellido</label>
    <input name="apellido" class="form-control" required>
    <label >Correo profesor</label>
    <input name="correo" class="form-control" required type="email">
    <br>
      <button type="submit" class="btn btn-success">Crear</button>
      <%= msj%>
  <% end%>
</div>

<div class="col-sm-12 col-lg-12">
<br><br>
<% unless @profesores.blank? %>
  <div class="card text-center">
    <table id="u_table" class="table table-bordered table-responsive">
      <thead class="thead-dark">
        <tr>
          <th>Logo</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Estado</th>
          <th>Validado</th>
          <th>creado</th>
        </tr>
      </thead>
      <tbody>
        <% @profesores.each do |u|%>
          <tr>
            <td>
              <img src="<%= img_adm(@dataUsuario, u.id, u.foto)%>" width="35" height="35">
            </td>
            <td><%= u.nombre + ' '+ u.apellido%></td>
            <td><%= u.correo %></td>
            <td><%= estadoNom(u.estado)%></td>
            <td><%= validadoNom(u.validado)%></td>
            <td><%= u.created_at%></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
<% end %>
</div>
<script>
window.onload = function () {
  $("#u_table").DataTable();
}
</script>
