<nav class="drawer drawer--dark">
  <div class="drawer-spacer">
    <div class="media align-items-center">
      <a href="" class="drawer-brand-circle mr-2">P</a>
      <div class="media-body">
        <a href="" class="h5 m-0 text-link">PUBLED</a>
      </div>
    </div>
  </div>

  <!-- HEADING -->

  <!-- MENU -->
  <ul class="drawer-menu" id="mainMenu" data-children=".drawer-submenu">

    <% session[:rutas].each do |ruta| %>
      <% if ruta == '/adm_panel/index'%>
        <li class="drawer-menu-item">
          <a href="<%= url_route("adm_panel/index")%>">
            <i class="material-icons">dashboard</i>
            <span class="drawer-menu-text">Panel</span>
          </a>
        </li>
      <% end %>
      <% if ruta == '/usuarios/universidad'%>
        <li class="drawer-menu-item">
          <a href="<%= url_route('usuarios/universidad')%>">
            <i class="material-icons">account_balance</i>
            <span class="drawer-menu-text">Universidades</span>
          </a>
        </li>
      <%end%>
      <%if ruta == '/usuarios/profesor' %>
        <li class="drawer-menu-item">
          <a href="<%= url_route('usuarios/profesor')%>">
            <i class="material-icons">school</i>
            <span class="drawer-menu-text">Profesores</span>
          </a>
        </li>
      <%end %>
      <%if ruta == '/areas' %>
      <li class="drawer-menu-item">
        <a href="<%= url_route('areas')%>">
          <i class="material-icons">class</i>
          <span class="drawer-menu-text">Areas</span>
        </a>
      </li>
      <% end %>
      <% if ruta == '/cursos' %>
      <li class="drawer-menu-item">
        <a href="<%= url_route('cursos')%>">
          <i class="material-icons">library_books</i>
          <span class="drawer-menu-text">Cursos</span>
        </a>
      </li>
      <% end %>
    <%end%>
    <li class="drawer-menu-item">
      <a href="<%= url_route('login/salir')%>">
        <i class="material-icons">close</i>
        <span class="drawer-menu-text">Salir</span>
      </a>
    </li>
  </ul>
</nav>
